<!DOCTYPE html>
<html>
    <head>
        <title>AssetDesk</title>
        <script src="<font-awsome-url>" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/bootstrap-select.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
  </head>

  <div class="d-flex toggled" id="wrapper">
  <body>
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading"><a class="navbar-brand" href="/"><%= companyName %></a></div>
      <div class="list-group list-group-flush">
        <a href="/assets" class="list-group-item list-group-item-action bg-light">All Assets <img class="float-right sidebar-icon" src="/icons/book.svg" alt="" width="32" height="32" title="All Assets"></a>
        <a href="/assets/computer" class="list-group-item list-group-item-action bg-light">Computer Assets <img class="float-right sidebar-icon" src="/icons/display.svg" alt="" width="32" height="32" title="Computer Assets"></a>
        <a href="/assets/mobile" class="list-group-item list-group-item-action bg-light">Mobile Assets <img class="float-right sidebar-icon" src="/icons/tablet.svg" alt="" width="32" height="32" title="Mobile Assets"></a>
        <a href="/assets/new" class="list-group-item list-group-item-action bg-light">Add Asset <img class="float-right sidebar-icon" src="/icons/plus.svg" alt="" width="32" height="32" title="Add Assets"></a>
        <a href="/employees" class="list-group-item list-group-item-action bg-light">Employees <img class="float-right sidebar-icon" src="/icons/people.svg" alt="" width="32" height="32" title="Employees"></a>
        
        <p class="sidebar-heading list-group-item list-group-item-action bg-light">Admin</p>
        <a href="/employees" class="list-group-item list-group-item-action bg-light">Employees <img class="float-right sidebar-icon" src="/icons/people.svg" alt="" width="32" height="32" title="Employees"></a>
      </div>
    </div>
    <div id="page-content-wrapper">
    <nav class="text-navi navbar navbar-expand-lg navbar-light bg-light">
      <button class="sidebar-button" id="menu-toggle"><i class="fas fa-bars"></i></button>
    

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li>
          
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">logged in as <%= currentUser %></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Sign out<span class="sr-only">(current)</span></a>
            </li>
        </ul>

        <input class="form-control mr-sm-2" type="search" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <div class="container-fluid">
    <% if(error && error.length > 0){ %>
      <div class="alert alert-danger" role"alert"><%= error %></div>
  <% } %>

  <% if(success && success.length > 0){ %>
      <div class="alert alert-success" role"alert"><%= success %></div>
  <% } %>
  </div>
  <div class="container-fluid main-content">
